* {
    font-family: Ubuntu light;
    
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.latest-news-outer-container{
    background: rgba(255, 255, 255, 0.8);
}

.latest-news-container {
    padding-top: 5em;
    padding-bottom: 5em;
    
}

.latest-news-container h1 {
    margin-bottom: 1em;
}

.latest-news-container img {
    width: 350px;
    height: 250px;
    border-radius: 10px;
    margin: 1em;
}

.latest-news-container h5, h1 {
    color: #caa40c;
    letter-spacing: 4px;
    font-weight: 450;
}

.latest-news-container p {
    color: #303030;
    font-weight: 450;
    padding: 0 2em;
}

.latest-news-container h5 {
    margin-top: .5em;
    margin-bottom: 1em;
    padding: 0  2em;
}