
.page-banner {
    position: relative;
    text-align: center;
    background-color: black;
   
}
.page-banner img{
    opacity: 0.7;
}

.page-banner h1{
    color: white;
    letter-spacing: normal;
    font-size: 50px;
    
}

.page-banner .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}


.departments-container {
    margin-top: 5em ;
    margin-bottom: 5em;
}

.departments-container h1 {
    margin-bottom: 1em;
}
.departments-container img {
    width: 350px;
    height: 250px;
    border-radius: 10px;
    margin: 1em;
}
.departments-container h5, h1 { 
    color: #caa40c;
    letter-spacing: 4px;
    font-weight: 450;
}

.departments-container p {
    color: #303030;
    font-weight: 450;
}

.departments-container h5 {
    margin-top: .5em;
    margin-bottom: 1em;
}